#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}

.activity-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px; /* Adjust the gap to your preference */
  padding: 20px; /* Add padding around the grid if needed */
}

.Activity {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc; /* Example border, adjust as needed */
  border-radius: 10px; /* Example border radius, adjust as needed */
  overflow: hidden; /* Ensures the content fits within the borders */
}

.Activity img {
  width: 100%; /* Ensure the image takes the full width of the card */
  height: 200px; /* Adjust height to your preference */
  object-fit: cover; /* Cover the box without stretching image */
}

.Activity h3, .Activity p {
  padding: 8px 16px; /* Add padding inside the text elements */
}
